.personal{
    font-size: 50px;
    color: red;
  }
  .a{
    font-size: 30px;
  }
  .ad{
      font-size: 30px;
  }
  .ade{
    font-size: 30px;
  }
  .ader{
    font-size: 30px;
  }
  .m{
    font-size: 30px; 
  }
  .my{
    font-size: 30px;
  }
  .titre{
    color: blue;
    font-size: 70px;
  }
  .passion{
    font-size: 30px;
  }
  