.personal{
    font-size: 50px;
  }
  .ad{
      font-size: 30px;
  }
  .ade{
    font-size: 30px;
  }
  .ader{
    font-size: 30px;
  }
  .School{
    font-size: 50px;
  }
  .my{
    font-size: 30px;
  }
  