.titre{
    color: rgb(255, 0, 0);
    font-size: 50px;
}
.info persdonelle{
    font-size: 30px;
}
.compétence{
    font-size: 150px;
    color: red;
}
.ligne{
    color: white;
}
c
  
.bande-rouge {
    background-color: red;
    height: 50px;
    width: 100%;
 }
  
.bande-bleue {
    background-color: blue;
    height: 50px;
    width: 100%;
 }
 body {
    display: flex;
    flex-direction: column;
    align-items: center;
 }  